<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <p>Name: @ViewBag.Name</p>
    <p>Location: @ViewBag.Location</p>
    <p>Language: @ViewBag.Language</p>
    <p>Comment: @ViewBag.Comment</p>

    @* <p>Name: @Name</p>
    <p>Location: @Location</p>
    <p>Language: @Language</p>
    <p>Comment: @Comment</p> *@

</body>

</html>